In [25]:
import mysql.connector
from datetime import datetime
import json

In [26]:
conexao = mysql.connector.connect(
    host = 'localhost',
    user = 'gapenna',
    password = '12345'
)

In [27]:
cursor = conexao.cursor()

cursor.execute('CREATE DATABASE IF not exists biblioteca')
cursor.execute('show databases;')
for db in cursor:
    print(db)

('biblioteca',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [28]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS biblioteca.tb_livros(
    id INT AUTO_INCREMENT PRIMARY KEY,
    nome_livro varchar(50),
    categoria_livro varchar(20),
    data_compra date, 
    nome_cliente varchar(50),
    cpf_cliente int,
    status_pedido varchar(15)
)
""")

In [29]:
sql = "insert into biblioteca.tb_livros(nome_livro,categoria_livro,data_compra,nome_cliente,cpf_cliente,status_pedido) values (%s,%s,%s,%s,%s,%s)"
data = datetime.now().strftime('%Y-%m-%d')
cursor.execute(sql,['diario de um banana','infantil',data,'Gabriel Penna',51224,'Finalizado'])

In [32]:
cursor.execute(sql,['diario de um banana2','infantil',data,'Gabriel Penna de Lima',512234,'Finalizado'])
conexao.commit()

In [33]:
cursor.execute("SELECT * FROM biblioteca.tb_livros")
resultado = cursor.fetchall()
resultado_json = json.dumps(resultado,indent=4,default=str)
print(resultado_json)

[
    [
        3,
        "diario de um banana",
        "infantil",
        "2024-12-03",
        "Gabriel Penna",
        51224,
        "Finalizado"
    ],
    [
        4,
        "diario de um banana2",
        "infantil",
        "2024-12-03",
        "Gabriel Penna de Lima",
        512234,
        "Finalizado"
    ],
    [
        5,
        "diario de um banana2",
        "infantil",
        "2024-12-03",
        "Gabriel Penna de Lima",
        512234,
        "Finalizado"
    ]
]